<div id="<%= dom_id riding %>">
  <p>
    <strong>Name en:</strong>
    <%= riding.name_en %>
  </p>

  <p>
    <strong>Name fr:</strong>
    <%= riding.name_fr %>
  </p>

  <p>
    <strong>Riding code:</strong>
    <%= riding.riding_code %>
  </p>

  <p>
    <strong>Province en:</strong>
    <%= riding.province_en %>
  </p>

  <p>
    <strong>Province fr:</strong>
    <%= riding.province_fr %>
  </p>

  <p>
    <strong>Member name en:</strong>
    <%= riding.member_name_en %>
  </p>

  <p>
    <strong>Member name fr:</strong>
    <%= riding.member_name_fr %>
  </p>

  <p>
    <strong>Member affiliation en:</strong>
    <%= riding.member_affiliation_en %>
  </p>

  <p>
    <strong>Member affiliation fr:</strong>
    <%= riding.member_affiliation_fr %>
  </p>

  <p>
    <strong>Riding type en:</strong>
    <%= riding.riding_type_en %>
  </p>

  <p>
    <strong>Riding type fr:</strong>
    <%= riding.riding_type_fr %>
  </p>

  <p>
    <strong>Region en:</strong>
    <%= riding.region_en %>
  </p>

  <p>
    <strong>Region fr:</strong>
    <%= riding.region_fr %>
  </p>

  <p>
    <%= link_to "Show this riding", riding %>
  </p>
</div>
