<div id="<%= dom_id tool %>">
  <p>
    <strong>Name en:</strong>
    <%= tool.name_en %>
  </p>

  <p>
    <strong>Name fr:</strong>
    <%= tool.name_fr %>
  </p>

  <p>
    <strong>Description en:</strong>
    <%= tool.description_en %>
  </p>

  <p>
    <strong>Description fr:</strong>
    <%= tool.description_fr %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= tool.link %>
  </p>

  <p>
    <%= link_to "Show this tool", tool %>
  </p>
</div>
