<div id="<%= dom_id external_report %>">
  <p>
    <strong>Name en:</strong>
    <%= external_report.name_en %>
  </p>

  <p>
    <strong>Name fr:</strong>
    <%= external_report.name_fr %>
  </p>

  <p>
    <strong>Description en:</strong>
    <%= external_report.description_en %>
  </p>

  <p>
    <strong>Description fr:</strong>
    <%= external_report.description_fr %>
  </p>

  <p>
    <%= link_to "Show this external report", external_report %>
  </p>
</div>
