<%= form_with(model: [riding, bank_balance], id: dom_id(bank_balance)) do |form| %>
  <%= render "shared/error_messages", resource: bank_balance %>

  <div class="mt-6 overflow-hidden">
    <div class="">

      <div class="grid grid-cols-6 gap-6" data-controller="currency-mask">
        <div class="hidden" data-currency-mask-target="locale"><%= current_user.preferred_language %></div>
          <% if current_user.preferred_language == "en" %>
            <div class="col-span-6">
              <%= form.label :balance, t("ridings.balance"), class:"block text-sm font-medium text-gray-700 dark:text-gray-300" %>
              
              <div class="mt-1 relative rounded-md shadow-sm col-span-3">
                <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                  <span class="text-gray-500 sm:text-sm dark:text-dark-gray-300">
                    $
                  </span>
                </div>
                <%= form.text_field :balance, class:"focus:ring-brand focus:border-brand block w-full pl-7 pr-12 sm:text-sm border-gray-300 rounded-md currency-input-mask dark:bg-dark-gray-700 dark:border-dark-gray-600 dark:focus:border-brand-dark dark:focus:ring-brand-dark dark:text-dark-gray-300", placeholder:"0.00" %>

                <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
                  <span class="text-gray-500 sm:text-sm dark:text-dark-gray-300" id="price-currency">
                   CAD
                  </span>
                </div>
              </div>
            </div>
          <% else %>
            <div class="col-span-6">
              <%= form.label :balance, class:"block text-sm font-medium text-gray-700 dark:text-gray-300" %>
              <div class="mt-1 relative rounded-md shadow-sm col-span-3">
                <%= form.text_field :balance, class:"focus:ring-brand focus:border-brand block w-full pr-12 sm:text-sm border-gray-300 rounded-md currency-input-mask dark:bg-dark-gray-700 dark:border-dark-gray-600 dark:focus:border-brand-dark dark:focus:ring-brand-dark dark:text-dark-gray-300", placeholder:"0,00" %>

                <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
                  <span class="text-gray-500 sm:text-sm dark:text-dark-gray-300" id="price-currency">
                   $ CAD
                  </span>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="mt-6 form-group py-3 text-right">
        <%= link_to "Cancel", "#", class:"inline-flex items-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-brand dark:text-dark-gray-300 dark:focus:ring-brand-dark dark:ring-offset-dark-gray-900 dark:hover:bg-dark-gray-700", data:{action:"click->modal#close"} %>

        <%= form.submit "Update", class:"ml-2 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-brand focus:outline-none focus:ring-2 focus:ring-offset-2 hover:bg-brand-medium ring-brand dark:bg-brand-dark dark:text-dark-gray-300 dark:focus:ring-brand-dark dark:hover:bg-brand-medium" %>
      </div>
  </div>
<% end %>
